<div class="app-header">
    <div class="container">
        <div class="header">
            <div class="header-top">
                <div class="header__location">
                    <div class="header__location-country">
                        Россия

                        <div class="header__location-choice">
                            <div class="header__location-choice-title">
                                Страна:
                            </div>

                            <ul class="header__location-choice-list">
                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Россия
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>

                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Казахстан
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>

                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Узбекистан
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>

                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Кыргызстан
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header__location-money">
                        Рубль

                        <div class="header__location-choice">

                            <div class="header__location-choice-region">
                                <div class="header__location-choice-title">
                                    Основные валюты:
                                </div>

                                <ul class="header__location-choice-list">
                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">RUB</span>
                                                <span class="header__location-choice-name">Российский рубль</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">USD</span>
                                                <span class="header__location-choice-name">Доллар</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">EUR</span>
                                                <span class="header__location-choice-name">Евро</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="header__location-choice-region">
                                <div class="header__location-choice-title">
                                    СНГ:
                                </div>

                                <ul class="header__location-choice-list">
                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">BYN</span>
                                                <span class="header__location-choice-name">Белорусский рубль</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">KZT</span>
                                                <span class="header__location-choice-name">Тенге</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">UAH</span>
                                                <span class="header__location-choice-name">Гривна</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">UZS</span>
                                                <span class="header__location-choice-name">Узбекский сум</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">TJS</span>
                                                <span class="header__location-choice-name">Таджикский сомони</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">KGS</span>
                                                <span class="header__location-choice-name">Кыргызский сом</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">AMD</span>
                                                <span class="header__location-choice-name">Армянский драм</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>

                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">AZN</span>
                                                <span class="header__location-choice-name">Азербайджанский манат</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="header__location-choice-region">
                                <div class="header__location-choice-title">
                                    Азия:
                                </div>

                                <ul class="header__location-choice-list">
                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">INR</span>
                                                <span class="header__location-choice-name">Индийская рупия</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="header__location-choice-region">
                                <div class="header__location-choice-title">
                                    Африка:
                                </div>

                                <ul class="header__location-choice-list">
                                    <li class="header__location-choice-item">
                                        <div class="header__location-choice-country">
                                            <div class="header__location-choice-currency">
                                                <span class="header__location-choice-flag">
                                                    <img src="" alt="">
                                                </span>
                                                <span class="header__location-choice-code">ZAR</span>
                                                <span class="header__location-choice-name">Рэнд</span>
                                            </div>
                                        </div>

                                        <div class="header__location-choice-check">
                                            ✅
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="header__location-country-code">
                        ru

                        <div class="header__location-choice">
                            <div class="header__location-choice-title">
                                Страна:
                            </div>

                            <ul class="header__location-choice-list">
                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Русский
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>

                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Английский
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>

                                <li class="header__location-choice-item">
                                    <div class="header__location-choice-country">
                                        <div class="header__location-choice-icon">
                                            <img src="" alt="">
                                        </div>
                                        Арабский
                                    </div>

                                    <div class="header__location-choice-check">
                                        ✅
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="header__nav" aria-label="Основная навигация">
                    <ul class="nav-list">

                        <li class="nav-list__item nav-list__item--product">
                            <a class="nav-link" href="#page-1">
                                Продукция
                            </a>

                            <ul class="nav-list__nested-list nav-list__nested-list--product">
                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Быстровозводимые здания
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Легкие металлоконструкции
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Сэндвич панели
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Комплектующие для ворот
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Оцинкованный профиль
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-list__item nav-list__item--services">
                            <a class="nav-link" href="#page-2">
                                Услуги
                            </a>

                            <ul class="nav-list__nested-list nav-list__nested-list--services">
                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Лазерная резка
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Лизинг зданий
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Консалтинг
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Проектирование
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Изготовление
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Фундамент
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Доставка
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Монтаж
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-link" href="#page-3">
                                Объекты
                            </a>
                        </li>

                        <li class="nav-list__item nav-list__item--press">
                            <a class="nav-link" href="#page-4">
                                Пресс-центр
                            </a>

                            <ul class="nav-list__nested-list nav-list__nested-list--press">
                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Новости
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Видео
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        F.A.Q.
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Telegram канал
                                    </a>
                                </li>

                                <li class="nav-list__nested-list-item">
                                    <a class="nav-list__nested-list-link" href="">
                                        <div class="nav-list__nested-list-icon"></div>
                                        Статьи
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-link" href="#page-5">
                                Завод
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="#page-6">
                                Цены
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="#page-7">
                                Контакты
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="header__contacts">
                    <div class="header__contacts-phone">
                        +7 (800) 333-37-41
                        <div class="header__contacts-choice">

                            <div class="header__contacts-choice-region">
                                <div class="header__contacts-choice-title">
                                    Телефоны
                                </div>

                                <ul class="header__contacts-choice-list">
                                    <li class="header__contacts-choice-item">
                                        <div class="header__contacts-choice-icon">
                                            <img src="" alt="">
                                        </div>

                                        <div class="header__contacts-choice-info">
                                            <span class="header__contacts-choice-phone">
                                                +7 (4872) 701777
                                            </span>

                                            <span class="header__contacts-choice-description">
                                                Звонок в офис из любой точки мира по тарифам вашего оператора
                                            </span>
                                        </div>
                                    </li>

                                    <li class="header__contacts-choice-item">
                                        <div class="header__contacts-choice-icon">
                                            <img src="" alt="">
                                        </div>

                                        <div class="header__contacts-choice-info">
                                            <span class="header__contacts-choice-phone">
                                                8 800 344 454 44
                                            </span>

                                            <span class="header__contacts-choice-description">
                                                Бесплатно по всей России
                                            </span>
                                        </div>
                                    </li>

                                    <li class="header__contacts-choice-item">
                                        <div class="header__contacts-choice-icon">
                                            <img src="" alt="">
                                        </div>

                                        <div class="header__contacts-choice-info">
                                            <span class="header__contacts-choice-phone">
                                                +7 (910) 943-49-66
                                            </span>

                                            <span class="header__contacts-choice-description">
                                                Личная консультация из любой точки мира по тарифам вашего оператора
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="header__contacts-choice-region">
                                <div class="header__contacts-choice-title">
                                    Почта
                                </div>

                                <ul class="header__contacts-choice-list">
                                    <li class="header__contacts-choice-item">
                                        <div class="header__contacts-choice-icon">
                                            <img src="" alt="">
                                        </div>

                                        <div class="header__contacts-choice-info">
                                            <span class="header__contacts-choice-email">
                                                info@pkvesta.ru
                                            </span>

                                            <span class="header__contacts-choice-description">
                                                По всем запросам
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="header__contacts-social">
                        <div>Gra</div>
                        <div>Vib</div>
                        <div>Max</div>
                    </div>
                </div>
            </div>

            <div class="header-bottom">

                <div class="header-bottom__logo">
                    <img class="header-bottom__logo-image" src="" alt="Логотип">
                </div>

                <div class="header-bottom__solutions">
                    <button class="header-bottom__solutions-button">
                        Решения
                    </button>
                </div>

                <div class="header-bottom__search">
                    <input class="header-bottom__search-input" type="text" placeholder="Найти быстровозводимое здание">
                </div>

                <div class="header-bottom__actions">

                    <div class="header-bottom__action">
                        <img class="header-bottom__action-icon" src="" alt="">
                        <span class="header-bottom__action-text">
                            Партнерам
                        </span>
                    </div>

                    <div class="header-bottom__action">
                        <img class="header-bottom__action-icon" src="" alt="">
                        <span class="header-bottom__action-text">
                            Websteel
                        </span>
                    </div>

                    <div class="header-bottom__action">
                        <img class="header-bottom__action-icon" src="" alt="">
                        <span class="header-bottom__action-text">
                            Войти
                        </span>
                    </div>

                    <div class="header-bottom__action header-bottom__action-calculation">
                        <img class="header-bottom__action-icon" src="" alt="">
                        <span class="header-bottom__action-text">
                            Онлайн расчет
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>