<div class="container footer__container">
  <!-- 1 СТРОКА -->
  <div class="footer__row footer__row--top footer__section">
    <div class="footer__logo">
      <a class="footer__logo-link" href="#"><img src="/static/images/footer/footer-logo.svg" alt="ПК Веста" /></a>
    </div>
    <div class="footer__legal-top">
      Система WebSteel® является объектом исключительных прав ООО ПК&nbsp;&laquo;ВЕСТА&raquo;
    </div>
    <div class="footer__copyright-system">WebSteel Copyrights</div>
  </div>
  <!-- 2 СТРОКА -->
  <div class="footer__row footer__row--contacts footer__section">
    <div class="footer__description-col flex-col">
      <p class="footer__copyright-company">
        &copy;&nbsp;Промышленная компания &laquo;Веста&raquo;&nbsp;&mdash; быстровозводимые здания из&nbsp;легких
        металлоконструкций для России, СНГ, Африки, Ближнего Востока и&nbsp;Латинской Америки. Полное обслуживание
        клиентов онлайн на&nbsp;международных рынках в&nbsp;системе WebSteel.
      </p>
      <div class="footer__social">
        <div class="footer__social-title">Подписывайтесь на&nbsp;нас:</div>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <img src="/static/images/footer/wa-ic.svg" alt="icon" />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <img src="/static/images/footer/tg-ic.svg" alt="icon" />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <img src="/static/images/footer/social-ic.svg" alt="icon" />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <img src="/static/images/footer/social-ic.svg" alt="icon" />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" target="_blank">
              <img src="/static/images/footer/social-ic.svg" alt="icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__contacts flex-col">
      <address class="footer__contact">
        <div class="footer__contact-icon">
          <img src="/static/images/footer/adress-ic.svg" alt="icon" />
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-title">Центральный офис:</div>
          <div class="footer__contact-text">300028, г. Тула, Россия, ул. Торховский проезд, д.&nbsp;6</div>
          <div class="footer__contact-extra-text">
            <span class="white-text">Режим работы:</span> пн-пт с&nbsp;8:00 до&nbsp;17:30
          </div>
        </div>
      </address>
      <address class="footer__contact">
        <div class="footer__contact-icon">
          <img src="/static/images/footer/adress-ic.svg" alt="icon" />
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-title">
            <a href="mailto:info@pkvesta.ru">info@pkvesta.ru</a>
          </div>
          <div class="footer__contact-text">Наша почта для связи</div>
        </div>
      </address>
    </div>
    <div class="footer__contacts flex-col">
      <address class="footer__contact">
        <div class="footer__contact-icon">
          <img src="/static/images/footer/adress-ic.svg" alt="icon" />
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-title">
            <a href="tel:+74872701777">+7 (4872) 701-777</a>
          </div>
          <div class="footer__contact-text">Быстровозводимые здания, сэндвич панели</div>
          <div class="footer__contact-extra-text">
            <span class="white-text">Режим работы:</span> пн-пт с&nbsp;8:00 до&nbsp;17:30
          </div>
        </div>
      </address>
      <address class="footer__contact">
        <div class="footer__contact-icon">
          <img src="/static/images/footer/adress-ic.svg" alt="icon" />
        </div>
        <div class="footer__contact-info">
          <div class="footer__contact-title">
            <a href="tel:+79109434966">+7 (910) 943-49-66</a>
          </div>
          <div class="footer__contact-text">Международные заказы (русский, английский. WhatsApp, Telegram, Wechat)</div>
        </div>
      </address>
    </div>
  </div>
  <!-- АККОРДЕОНЫ -->
  <div class="accordion footer__section">
    <div class="footer-accordion__head accordion__head">
      <div class="footer-accordion__title">Завод</div>
      <button class="footer-accordion__btn accordion__btn"></button>
    </div>
    <div class="accordion__body">
      <nav class="footer-accordion__nav">
        <ul class="footer-accordion__nav-list">
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">О нас</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Новости</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Пресса</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Каталог зданий</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Наши объекты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="accordion footer__section">
    <div class="footer-accordion__head accordion__head">
      <div class="footer-accordion__title">Клиентам</div>
      <button class="footer-accordion__btn accordion__btn"></button>
    </div>
    <div class="accordion__body">
      <nav class="footer-accordion__nav">
        <ul class="footer-accordion__nav-list">
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Услуги</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Решения</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Цены</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">FAQ</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="accordion footer__section">
    <div class="footer-accordion__head accordion__head">
      <div class="footer-accordion__title">Партнерам</div>
      <button class="footer-accordion__btn accordion__btn"></button>
    </div>
    <div class="accordion__body">
      <nav class="footer-accordion__nav">
        <ul class="footer-accordion__nav-list">
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Lorem</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Lorem</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Lorem</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Lorem</a>
          </li>
          <li class="footer-accordion__nav-item">
            <a href="#" target="_blank" class="footer-accordion__nav-link">Lorem</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- НИЖНЯЯ СТРОКА -->
  <div class="footer__row footer__row--bottom footer__section">
    <div class="footer__subscribe flex-col">
      <div class="footer__subscribe-title">Подписаться на новости:</div>
      <button type="button" class="footer__subscribe-btn">Подписаться</button>
      <div class="footer__subscribe-agreement">
        Настоящим подтверждаю своё согласие на обработку персональных данных, ознакомлен и согласен с условиями -
        <a class="footer__subscribe-agreement-link" href="#">политики конфиденциальности</a>.
      </div>
    </div>
    <nav class="footer__bottom-legal">
      <ul class="footer__legal-list flex-col">
        <li>
          <a href="#" class="footer__legal-link">Пользовательское соглашение Websteel</a>
        </li>
        <li>
          <a href="#" class="footer__legal-link">Карта сайта</a>
        </li>
        <li>
          <a href="#" class="footer__legal-link">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="#" class="footer__legal-link">Договор оферта</a>
        </li>
      </ul>
    </nav>
    <div class="footer__badge">
      <img src="/static/images/footer/made-in-russia.svg" alt="Сделано в России" />
    </div>
  </div>
</div>
