/* стили для всех кнопок аккордеон */
.accordion__btn {
  position: relative;
  border-radius: 50%;
}

.accordion__btn::before,
.accordion__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion__btn::before {
  width: 0.7778rem;
  height: 0.1111rem;
}

.accordion__btn::after {
  width: 0.1111rem;
  height: 0.7778rem;
  transition: transform 0.3s ease;
}

.accordion.active .accordion__btn::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion__head {
  cursor: pointer;
}
.accordion__body {
  display: none;
}
.accordion.active .accordion__body {
  display: block;
}

/* footer */

.flex-col {
  display: flex;
  flex-direction: column;
}

.app-footer {
  padding: 2.2222rem 0 3.3333rem;
  background: #324c88;
  color: #ffffff;
  border-radius: 1.1667rem 1.1667rem 0 0;
}

.footer__container {
  padding: 0 2.2222rem;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 28.3889rem 25.8333rem;
  column-gap: 2.6667rem;
}

.footer__section {
  border-top: 0.0556rem solid rgba(255, 255, 255, 0.2);
  padding: 2rem 0;
}
.footer__section:first-child {
  border-top: none;
  padding-top: 0;
}
.footer__section:last-child {
  padding-bottom: 0;
}

.footer__logo-link img {
  display: block;
  width: 10.5556rem;
  border-radius: 0.5556rem;
}
.footer__legal-top {
  max-width: 19.6667rem;
  font-weight: 500;
  line-height: 1.5556rem;
  color: #ffffffcc;
}
.footer__copyright-system {
  color: #ffffffcc;
}
.footer__copyright-company {
  max-width: 32.5556rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.footer__social-title {
  margin-bottom: 1.3333rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1111rem;
  text-transform: uppercase;
}
.footer__social-list {
  display: flex;
  gap: 0.5556rem;
  flex-wrap: wrap;
}
.footer__social-link img {
  width: 3.1111rem;
  height: 2.8889rem;
}

.footer__contacts {
  row-gap: 2rem;
}

.footer__contact {
  display: flex;
  font-style: normal;
}
.footer__contact-icon {
  margin-right: 1rem;
  width: 2.2222rem;
  flex-shrink: 0;
}
.footer__contact-icon img {
  width: 100%;
}
.footer__contact-title {
  font-size: 1.1111rem;
  line-height: 1.1111rem;
  font-weight: 500;
  margin-bottom: 0.6667rem;
}
.footer__contact-text {
  line-height: 1.5556rem;
  color: #ffffffcc;
}
.footer__contact-extra-text {
  margin-top: 0.5556rem;
  line-height: 1.5556rem;
  color: #ffffffcc;
}

/* аккардион в футере */
.footer-accordion__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-accordion__title {
  font-weight: 500;
  font-size: 2.0556rem;
  line-height: 2.6111rem;
}

.footer-accordion__btn {
  width: 2.6667rem;
  height: 2.6667rem;
  border: 0.0556rem solid #ffffff66;
}
.footer-accordion__btn::before {
  background-color: #ffffff;
}
.footer-accordion__btn::after {
  background-color: #ffffff;
}

.footer-accordion__nav-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}
.footer-accordion__nav-item {
  padding-left: 1.313rem;
  font-weight: 500;
  font-size: 1.2222rem;
  line-height: 1.5556rem;
  color: #ffffffcc;
  background-image: url(/static/images/footer/arr-ic.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
}

.footer__subscribe {
  max-width: 34rem;
  align-items: start;
}

.footer__subscribe-title {
  margin-bottom: 1rem;
  font-size: 1.2222rem;
  line-height: 1.5556rem;
}
.footer__subscribe-btn {
  margin-bottom: 1rem;
  padding: 1.1667rem 3.9444rem;
  font-weight: 500;
  font-size: 0.8889rem;
  line-height: 1.1111rem;
  text-transform: uppercase;
  background-color: #ffffff1a;
  border-radius: 0.5556rem;
}
.footer__subscribe-agreement {
  font-weight: 500;
  font-size: 0.8889rem;
  line-height: 1.1111rem;
  color: #ffffffcc;
}

.footer__subscribe-agreement-link {
  text-decoration: underline;
}

.footer__badge {
  justify-self: end;
  width: 9.6667rem;
}

.footer__legal-list {
  gap: 1.3333rem;
}
.footer__legal-link {
  font-weight: 500;
  font-size: 0.8889rem;
  line-height: 1.1111rem;
}

@media screen and (max-width: 1500px) {
  .footer__row--top,
  .footer__row--contacts {
    grid-template-columns: 1fr 23.6111rem 23.6111rem;
    gap: 2rem;
  }
  .footer__copyright-company {
    max-width: 28.8333rem;
  }
  .footer__row--bottom {
    grid-template-columns: 1fr auto auto;
    gap: 2.7778rem;
  }
}

@media screen and (max-width: 1300px) {
  .footer__row--top,
  .footer__row--contacts {
    grid-template-columns: 18.75rem 1fr 1fr;
  }
}

@media screen and (max-width: 1040px) {
  .footer__row--top {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  .footer__row--contacts {
    grid-template-columns: 1fr 1fr;
  }
  .footer__row--bottom {
    grid-template-columns: minmax(auto, 17.875rem) auto auto;
    gap: 2.7778rem;
    justify-content: space-between;
  }

  .footer-accordion__title {
    font-size: 1.5rem;
  }
  .footer__description-col {
    grid-column: 1 / span 2;
  }
  .footer__copyright-company {
    max-width: 100%;
  }
  .footer__subscribe-btn {
    font-size: 1rem;
    padding: 1.3125rem 4.4375rem;
  }
  .footer__legal-link {
    font-size: 1rem;
  }
}
