.app-header {
    background: #324C88;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2222rem;
    font-family: 'Onest-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 0.8889rem;
}

.header__location,
.nav-list {
    gap: 1.6667rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__location-country,
.header__location-money,
.header__location-country-code {
    padding: 1.1111rem 0;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5556rem;
}

.header__location-choice-country {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-family: 'Onest-Regular', sans-serif;
    font-weight: 400;
    font-size: 0.8333rem;
    line-height: 160%;
    color: #2555BD;
    text-wrap: nowrap;
}

.header__location-choice,
.header__contacts-choice {
    position: absolute;
    top: 3rem;
    left: -0.4444rem;
    display: flex;
    flex-direction: column;
    padding: 0.2222rem;
    background: #FFFFFF;
    border-radius: 0.5556rem;
    text-transform: none;
    min-width: 12.0556rem;
    width: max-content;
    z-index: 2;
}

.header__location-choice-title {
    padding: 0.5556rem;
    font-family: 'Onest-Medium', sans-serif;
    font-weight: 500;
    font-size: 0.8889rem;
    line-height: 100%;
    color: #4D4D4D;
}

.header__location-choice-list {
    display: flex;
    flex-direction: column;
    gap: 0.1111rem;
}

.header__location-choice-item {
    display: flex;
    align-items: center;
    padding: 0.6667rem 0.7778rem;
    background: #F7F8FA;
    border-radius: 0.5556rem;
}

.header__location-choice-icon {
    margin-right: 0.7778rem;
}

.nav-link {
    padding: 1.1111rem 0;
}

.header__location-choice-region:not(:last-child),
.header__location-choice-contact:not(:last-child) {
    margin-bottom: 0.2778rem;
}

.header__location-choice-currency {
    display: flex;
    align-items: center;
    gap: 0.5556rem;
}

.header__location-choice-flag {
    flex-shrink: 0;
}

.header__location-choice-flag img {
    display: block;
}

.header__location-choice-code {
    flex-shrink: 0;
}

.header__location-choice-name {
    white-space: nowrap;
}

.nav-link,
.header__tel-number {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-list__item--product,
.nav-list__item--services,
.nav-list__item--objects,
.nav-list__item--press,
.nav-list__item--factory,
.nav-list__item--prices,
.nav-list__item--contacts,
.header__contacts-phone {
    display: flex;
    align-items: center;
    gap: 0.5556rem;
    position: relative;
    cursor: pointer;
}

.nav-list__nested-list {
    display: flex;
    flex-direction: column;
    padding: 0.2222rem;
    gap: 0.1111rem;
    background: #FFFFFF;
    border-radius: 0.5556rem;
}

.nav-list__nested-list-item {
    padding: 0.5556rem;
    border-radius: 0.2222rem;
    background: #324C880D;
    color: #324C88;
    font-family: 'Onest-Medium', sans-serif;
    font-weight: 500;
    font-size: 0.8889rem;
    line-height: 100%;
    text-wrap: nowrap;
}

.nav-list__nested-list-link {
    display: flex;
    align-items: center;
    color: #324C88;
}

.nav-list__nested-list-icon,
.header__contacts-choice-icon {
    padding: 0.5556rem;
    margin-right: 0.7778rem;
    background: #FFFFFF;
    border-radius: 0.2222rem;
}

.nav-list__nested-list--product,
.nav-list__nested-list--services,
.nav-list__nested-list--press {
    position: absolute;
    top: 3rem;
    left: -0.4444rem;
    text-transform: none;
    z-index: 2;
}

.header__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.2222rem;
    color: #FFFFFF;
}

.header__contacts-phone {
    padding: 1.1111rem 0;
}

.header__contacts-social {
    gap: 1.1111rem;
}

.header__contacts-choice {
    position: absolute;
    top: 3rem;
    left: -0.4444rem;
    display: flex;
    flex-direction: column;
    padding: 0.2222rem;
    background: #FFFFFF;
    border-radius: 0.5556rem;
    text-transform: none;
    min-width: 15.5556rem;
    z-index: 2;
}

.header__contacts-choice-title {
    padding: 0.5556rem;
    font-family: 'Onest-Medium', sans-serif;
    font-weight: 500;
    font-size: 0.8889rem;
    line-height: 100%;
    color: #4D4D4D;
}

.header__contacts-choice-list {
    display: flex;
    flex-direction: column;
    gap: 0.1111rem;
}

.header__contacts-choice-item {
    display: flex;
    align-items: flex-start;
    padding: 0.6667rem 0.7778rem;
    background: #F7F8FA;
    border-radius: 0.5556rem;
}

.header__contacts-choice-icon {
    padding: 0.25rem;
}

.header__contacts-choice-region:not(:last-child) {
    margin-bottom: 0.2778rem;
}

.header__contacts-choice-info {
    display: flex;
    flex-direction: column;
    gap: 0.3333rem;
}

.header__contacts-choice-phone,
.header__contacts-choice-email {
    color: #324C88;
    text-decoration: none;
    font-family: 'Onest-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 0.7778rem;
    line-height: 126%;
}

.header__contacts-choice-description {
    color: #324C88B2;
    font-family: 'Onest-Regular', sans-serif;
    font-weight: 400;
    font-size: 0.6667rem;
    line-height: 140%;
}

.header-burger {
    text-transform: uppercase;
    padding: 0.7778rem 0;
    gap: 0.5556rem;
    display: none;

}

.burger {
    display: flex;
    flex-direction: column;
    gap: 0.1667rem
}

.burger-line {
    width: 0.8333rem;
    height: 0.1111rem;
    background: #FFFFFF;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5556rem;
    background: #FFFFFF;
    border-top-left-radius: 1.1111rem;
    border-top-right-radius: 1.1111rem;
    gap: 0.4444rem;
}

.header-bottom__logo {
    padding: 0.7778rem 0.8333rem;
    display: flex;
    align-items: center;
}

.header-bottom__logo-image {
    max-width: 7rem;
}

.header-bottom__solutions {
    display: flex;
    align-items: center;
}

.header-bottom__solutions-button {
    font-size: 1rem;
    padding: 1.5556rem 1.7778rem;
    border-radius: 0.5556rem;
    gap: 1rem;
    color: #272629;
}

.header-bottom__solutions-button svg circle {
    transition: fill 0.1s ease;
}

.header-bottom__solutions-button:hover svg circle {
    fill: #324C88CC;
}

.header-bottom__search {
    position: relative;
    flex: 1;
}

.search-svg {
    position: absolute;
    left: 1.6667rem;
    top: 50%;
    transform: translateY(-50%);
}

.header-bottom__search-input {
    padding: 1.3889rem 1.6667rem 1.3889rem 4.3333rem;
    width: 100%;
    font-family: 'Onest-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    text-transform: uppercase;
    background: #324C880A;
    outline: none;
    border: none;
    border-radius: 0.5556rem;
}

.header-bottom__search-input::placeholder {
    color: #4D4D4D66;
}

.header-bottom__actions {
    display: flex;
    align-items: center;
    gap: 1.1111rem;
}

.header-bottom__action {
    flex-direction: column;
    text-align: center;
    border-radius: 0.8333rem;
    padding: 0.5rem 1.1111rem;
    gap: 0.5556rem;
    color: inherit;
    text-decoration: none;
}

.header-bottom__action-search {
    display: none;
}

.header-bottom__action-text {
    display: block;
    font-family: 'Onest-Medium', sans-serif;
    font-weight: 500;
    font-size: 0.8889rem;
    line-height: 100%;
    color: #4D4D4D;
}

.header-bottom__action-calculation {
    background: #324C881A;
    color: #324C88;
}

.header-bottom__action-calculation .header-bottom__action-text {
    color: #324C88;
}

.header__location-choice,
.nav-list__nested-list,
.header__contacts-choice {
    display: none;
}

.header__location-country:hover > .header__location-choice,
.header__location-money:hover > .header__location-choice,
.header__location-country-code:hover > .header__location-choice,
.nav-list__item--product:hover > .nav-list__nested-list--product,
.nav-list__item--services:hover > .nav-list__nested-list--services,
.nav-list__item--press:hover > .nav-list__nested-list--press,
.header__contacts-phone:hover > .header__contacts-choice {
    display: flex;
}

.header__location-choice-item > svg {
    display: none;
}

.header__location-choice-item--selected > svg {
    display: block;
}

@media screen and (max-width: 1520px) {
    .header-top,
    .header-bottom__action-text {
        font-size: 0.7778rem;
    }

    .header__location,
    .nav-list,
    .header__contacts {
        gap: 1.1111rem;
    }

    .nav-list__item--product,
    .nav-list__item--services,
    .nav-list__item--objects,
    .nav-list__item--press,
    .nav-list__item--factory,
    .nav-list__item--prices,
    .nav-list__item--contacts,
    .header__contacts-phone {
        gap: 0.2778rem;
    }

    .header-bottom__actions {
        gap: 0.4444rem;
    }
}

@media screen and (max-width: 1300px) {
    .header-top {
        height: 2.7778rem;
    }

    .header__location,
    .header__nav,
    .header__contacts {
        display: none;
    }

    .header-bottom {
        position: relative;
        padding: 0.625rem;
    }

    .header-burger {
        display: flex;
        position: absolute;
        top: -2.7778rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-bottom__action-text {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 1024px) {
    .header-top {
        height: 3.125rem;
    }

    .header-burger {
        top: -2.9rem;
        font-size: 0.875rem;
    }

    .header-bottom__logo-image {
        width: 7.875rem;
    }

    .header-bottom__search {
        display: none;
    }

    .header-bottom__action-search {
        display: flex;
    }

    .header-bottom__action-calculation {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .header-top,
    .header-bottom__actions,
    .header-bottom__solutions {
        display: none;
    }

    .header-bottom {
        border-radius: 0;
    }

    .header-bottom__action-calculation {
        max-width: 11.6667rem;
    }

    .header-bottom {
        justify-content: flex-start;
        gap: 0;
    }

    .header-burger {
        position: static;
        margin: 0.5556rem;
        padding-left: 0.625rem;
    }

    .burger {
        gap: 0.4rem;
    }

    .header-burger__title {
        display: none;
    }

    .burger-line {
        width: 1.5rem;
        background: #2C2C2C;
    }

    .header-bottom__logo {
        margin-right: auto;
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .header-bottom {
        padding: 0.7143rem;
    }

    .header-bottom__action-calculation {
        max-width: 9.5714rem;
        gap: 0.3571rem;
    }

    .header-bottom__action-calculation svg {
        width: 1.2857rem;
    }
}