html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Onest-Bold';
  font-weight: 700;
  src: url('../assets/fonts/Onest-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Onest-SemiBold';
  font-weight: 600;
  src: url('../assets/fonts/Onest-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Onest-Medium';
  font-weight: 500;
  src: url('../assets/fonts/Onest-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Onest-Regular';
  font-weight: 400;
  src: url('../assets/fonts/Onest-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: Onest-Regular, sans-serif;
  font-weight: 400;
  color: #4D4D4DCC;
  background: #F5F8F7;
  min-width: 320px;
  font-size: 18px;
}

body {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Onest-SemiBold', sans-serif;
  font-weight: 600;
  line-height: 126%;
  gap: 10px;
  padding: 32px 40px;
  border-radius: 20px;
  background: #324C88;
  color: #FFFFFF;
  width: 100%;
  outline: none;
  border: none;
}
