* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Actay-Regular';
    src: url('../fonts/Actay-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Actay-Bold';
    src: url('../fonts/ActayWide-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff') format('woff');
}

body {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Actay-Regular', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 70px;
}


/* Main */
.main {
    background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.3) 19.82%, rgba(70, 70, 70, 0.2173) 38.45%, rgba(255, 255, 255, 0) 87.39%),
            url("../images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
}


/* Header */
.header {
    padding: 34px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {
    font-family: 'Actay-Bold', sans-serif;
    font-size: 32px;
    max-width: 140px;
    margin-right: 32px;
    line-height: 90%;
}

.mobile__menu {
    display: none;
}

.mobile__close {
    display: none;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    font-family: 'Actay-Regular', sans-serif;
    padding: 18px 20px;
    font-size: 20px;
    line-height: 46%;
}

.header__button {
    display: flex;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Actay', 'Rockwell', cursive;
    font-size: 20px;
}

.button--arrow {
    margin-left: 47px;
}

.header__burger {
    display: none;
}


/* Hero */
.hero__title {
    font-family: 'Actay-Bold', sans-serif;
    font-size: 90px;
    padding-top: 30px;
    text-align: center;
    line-height: 90%;
}

.hero__content {
    position: relative;
    margin-top: 17px;
    height: 480px;
}

.hero__point {
    position: relative;
    display: flex;
    max-width: 286px;
    border: 3px solid #FFFFFF;
    padding: 11px 12px;
    backdrop-filter: blur(15px);
    border-radius: 35px 0 35px 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.hero__point-info {
    display: flex;
    align-items: center;
}

.hero__point-apostrophe {
    position: absolute;
    right: -14px;
    top: -14px;
}

.hero__point-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background: #5E7600;
    border: 1px solid #FFFFFF;
    margin-right: 10px;
}

.hero__point-text {
    color: #F6FFD2;
    font-size: 14px;
    max-width: 195px;
}

.point-1 {
    position: absolute;
    left: 0;
    top: 58px;
}

.point-1__way {
    position: absolute;
    top: 78px;
    left: 43px;
}

.point-2 {
    position: absolute;
    left: 6.7%;
    top: 304px;
}

.point-2__way {
    position: absolute;
    left: 202px;
    top: 63px;
}

.point-3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 401px;
}

.point-3__way {
    position: absolute;
    bottom: 51px;
    left: 55px;
}

.point-4 {
    position: absolute;
    left: 31.2%;
    top: 171px;
}

.point-4__way {
    position: absolute;
    bottom: 79px;
    left: 246px;
}

.point-5 {
    position: absolute;
    right: 1.3%;
    top: 98px;
}

.point-5__way {
    position: absolute;
    top: 62px;
    right: 8px;
}

.point-6 {
    position: absolute;
    right: 13.5%;
    top: 255px;
}

.slider {
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero__btn-container {
    display: flex;
    justify-content: center;
    padding: 63px 0 62px 0;
}

.hero__btn {
    font-family: 'Inter-Regular', sans-serif;
    padding: 10px;
    width: 215px;
    border-radius: 166px;
    font-size: 21px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}


/*Pop-up*/
.popup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.56);
    z-index: 2;
    transition: opacity 0.3s ease;
}

.popup.active {
    opacity: 1;
}

.popup__container {
    position: relative;
    max-width: 993px;
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.popup.active .popup__container {
    transform: translateY(0);
}

.popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.popup__content {
    border-radius: 35px;
    padding: 96px 61px 95px 61px;
    background: #FFFFFF;
    color: #000000;
}

.popup__text {
    font-family: 'inter-Regular', sans-serif;
    line-height: 140%;
    font-weight: normal;
    text-align: center;
}